.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemDetails {
  margin-top: 7rem;
  width: 70%;
  display: flex;
}
/* carouesel*/
.carousel {
  overflow: hidden;
  width: 50%;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 0;
}
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}
.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  cursor: default;
}
.carousel-img {
  width: 75%;
  aspect-ratio: 1;
  padding: 0 20px;
  pointer-events: none;
}
.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}
.button-arrow {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
}
.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 250px;
}
.indicator-buttons {
  border: none;
  cursor: pointer;
  margin: 5px;
  background: none;
}
.leftArr {
  position: absolute;
  left: 0;
  top: 40%;
}
.rightArr {
  position: absolute;
  right: 0;
  top: 40%;
}
.indicator-images {
  width: 90px;
  height: 90px;
  border: 1px solid #26343f;
}
.inactiveImg {
  border: none;
}
.iconStar {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}

/* Item details*/

.detailsSection {
  width: 50%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
}
.species {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.detailsSection h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
.price {
  font-size: 1.7rem;
  font-variant-numeric: lining-nums;
}
.description {
  font-size: 1.3rem;
}
.addToCartBtn {
  width: 120px;
  background-color: #26343f;
  color: white;
  padding: 14px 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
#numItems {
  padding: 12px;
  font-size: 1rem;
  width: 70px;
}
.detailsSection div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.6rem;
}
.additional-information {
  width: 70%;
  padding-bottom: 3rem;
}

.additional-div-opis,
.additional-div-moreInfo {
  width: 100%;
  padding: 2rem 0;
}
.additional-div-moreInfo div:nth-child(even) {
  background-color: rgb(238, 255, 255);
}
.additional-div-opis {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.aditional-pMain {
  padding: 5px 0;
  padding-left: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.additionalHeader {
  display: inline-block;
  width: 140px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 2rem;
}
.aditionalText {
  margin: 5px;
  font-size: 1.3rem;
}
.additional-buttons {
  padding: 0.5rem 0.7rem;
  background-color: rgb(226, 227, 229);
  border: 1px solid #26343f;
  z-index: 100;
  margin-left: 20px;
}
.additional-buttons:focus,
.additional-buttons:active,
.btnOpis,
.btnMore {
  border-bottom: 1px solid white;
  background-color: white;
  outline: none;
}
hr {
  margin-top: -1px;
}
/* sugestion section */

.sugestionSection {
  width: 70%;
}
.sugestionItems {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 2rem;
}
.sugestionSection h2 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.sugestionItems-card {
  width: 21%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
  margin: 2rem 0;
}
.sugestionItems-card button {
  border: none;
}
.l {
  margin: 0;
  background-color: white;
}
.sugestionItems-card img {
  width: 100%;
  aspect-ratio: 1;
}

@media screen and (max-width: 1250px) {
  .itemDetails {
    /* margin-top: 7rem; */
    width: 90%;
    /* display: flex; */
  }
  .detailsSection h2 {
    font-size: 2.5rem;
  }
  .additional-information {
    width: 90%;
    padding-bottom: 3rem;
  }
  .sugestionSection {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .itemDetails {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .carousel {
    width: 80%;
  }
  .detailsSection {
    width: 80%;
    padding: 1rem;
    row-gap: 1rem;
  }
  .detailsSection h2 {
    font-size: 2.5rem;
  }
  .additional-information {
    width: 90%;
    padding-bottom: 3rem;
  }
  .sugestionSection {
    width: 90%;
  }
  .sugestionItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 1rem;
    column-gap: 5%;
  }
  .sugestionSection h2 {
    font-size: 2rem;
    letter-spacing: 0;
  }
  .sugestionItems-card {
    width: 30%;
    margin: 1rem 0;
  }
}
@media screen and (max-width: 600px) {
  .itemDetails {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .carousel {
    width: 100%;
  }
  .button-arrow {
    width: 30px;
    height: 30px;
  }
  .leftArr {
    position: absolute;
    left: 0;
    top: 30%;
  }
  .rightArr {
    position: absolute;
    right: 0;
    top: 30%;
  }
  .detailsSection {
    width: 80%;
    padding: 1rem;
    row-gap: 1rem;
  }
  .detailsSection h2 {
    font-size: 2.5rem;
  }
  .additional-information {
    width: 90%;
    padding-bottom: 3rem;
  }
  .additional-div-opis p {
    font-size: 1rem;
  }
  .aditional-pMain {
    padding-left: 0;
  }
  .additionalHeader {
    width: 100px;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1rem;
    display: block;
  }
  .aditionalText {
    font-size: 1rem;
  }
  .sugestionSection {
    width: 90%;
  }
  .sugestionItems {
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
    column-gap: 8%;
  }
  .sugestionSection h2 {
    font-size: 2rem;
    letter-spacing: 0;
  }
  .sugestionItems-card {
    width: 45%;
    margin: 1rem 0;
  }
}
