.nav {
  margin: 0;
  width: 100%;
  padding: 1rem 3rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 70;
}
.burger-meny {
  display: none;
}
.burger-meny svg {
  width: 50px;
  height: 50px;
}
#cart-small-device {
  display: none;
}

.nav img {
  width: 150px;
  aspect-ratio: 16/9;
}
.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}
.nav_content a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #2d2d2d;
  font-weight: normal;
}
.nav_content a:hover {
  cursor: pointer;
  color: black;
}
.activeLink {
  color: orange !important;
}
.cart,
#cart {
  position: relative;
}
.cart_icon {
  width: 30px;
  aspect-ratio: 1/1;
}
.cart_div_items {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(198, 231, 246);
  border: 1px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_num_items {
  font-size: 1rem;
}

@media screen and (max-width: 1000px) {
  .nav {
    margin: 0;
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav img {
    width: 120px;
  }
  .nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
  }
  .nav_content a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    margin: 0;
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav img {
    width: 120px;
  }
  .nav_content {
    display: none;
  }
  .cart_div_items {
    position: absolute;
    top: 23px;
    right: 9px;
  }

  .burger-meny {
    display: block;
  }
  .burger-meny svg {
    width: 30px;
    height: 30px;
  }
  #cart-small-device {
    display: block;
  }
  .nav-small-device {
    height: 100vh;
    z-index: 89;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .nav-small-device-content {
    z-index: 100;
    background-color: black;
    font-size: 2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
  }
  .nav-small-device-content a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-weight: normal;
  }
  .closeDiv {
    width: 100%;
    text-align: right;
  }
  .closeDiv svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .divNav {
    width: 100%;
    border-bottom: 1px solid rgb(182, 182, 182);
  }
  .divNav a {
    padding: 1rem 0;
    display: block;
  }
  .divNav a:hover {
    cursor: pointer;
    color: rgb(230, 230, 230);
  }
}
