* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headerSection {
  width: 100%;
  height: 70vh;
  background-image: url("https://abbadinamestaj.com/cdn/shop/products/Rahat2020Katalogsmall_Page_035_1300x.png?v=1611116617");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.headerSection h1 {
  color: white;
  font-size: 4.5rem;
  font-family: monospace;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .headerSection h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 850px) {
  .headerSection {
    height: 50vh;
  }
  .headerSection h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .headerSection {
    height: 50vh;
  }
  .headerSection h1 {
    font-size: 2.5rem;
  }
}
